@page "/"

<h1>Olá Mundo! do Docker</h1>

Bem-vindo ao seu novo aplicativo com Docker. 

<SurveyPrompt Title="Como o Blazor está funcionando para você com Doker ?" />

<SurveyPrompt Tutorial="Tutorial: Primeiros passos com o Docker"/>
